##########################################################################################################################
## CUSTOM
##########################################################################################################################

/__wontsync/

##########################################################################################################################
## GENERAL
##########################################################################################################################

## OUTPUT FOLDERS
/out
/build
/dist

## GENERAL CACHE FILES/FOLDERS
/.cache
/.vscode-test
/.eslintcache
/.stylelintcache
/.parcel-cache
/.history
/.ionide
/.sonda

## PACKAGE MANAGERS
node_modules/

.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

## VSCODE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

## NEXTJS
/.next

## ASTRO
/.astro

## SvelteKit
.svelte-kit

## VERCEL
.vercel

## TYPESCRIPT
*.tsbuildinfo
next-env.d.ts

## CERTIFICATES
*.pem
*.key
*.crt
*.cer
*.der
*.priv

## ENV FILES
.env
.env.production
.env*.local

## WINDOWS
# thumbnail cache
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
# dump file
*.stackdump
# desktop.ini
[Dd]esktop.ini
# recycle bin
$RECYCLE.BIN/
# shortcuts
*.lnk

## MACOS
.DS_Store
.AppleDouble
.LSOverride
Icon
# thumbnails
._*
#
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
# remote afp
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
# iCloud
*.icloud

## VIM
# swap
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
# session
Session.vim
Sessionx.vim
# temporary
.netrwhist
# tags
tags
# persistent undo
[._]*.un~

## JETBRAINS
.idea/*

## EMACS
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
