/*
.katex,
.katex .katex-mathml,
.katex .katex-html {
    line-height: 1.5;
    vertical-align: baseline;
}
*/

.katex {
    display: inline;
    user-select: text !important;
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    -o-user-select: text !important;
    cursor: default;
}

.katex .katex-html {
    display: inline;
}

.math.is-selected {
    .base {
        background-color: var(--color-text);
        color: var(--color-background);
    }
}
