#table-of-contents {
    a {
        color: var(--color-text);

        &:visited {
            color: var(--color-text);

        }
    }
}

.content {
    max-width: 976px;
    width: 100%;
    margin: 0 auto;
    padding: 4em 1.5em 4em 1.5em;
    overflow-x: hidden;
    border: 0 !important;
    outline: 0 !important;
    box-shadow: none !important;
    height: auto;

    li:not(:first-child) {
        margin-top: 0.25em;
    }

    &-chips > img {
        display: inline-block;
    }

    a {
        color: var(--color-link);
        font-weight: 500;

        &:visited {
            color: var(--color-link);

        }
    }

    p code {
        background-color: rgba(0, 0, 0, 0.1);
        padding: 0.125em 0.5em;
        border-radius: 0.325em;
    }

    strong {
        font-weight: 600;
    }

    blockquote {
        background-color: transparent;
        border-left: 2.5px solid rgba(0, 0, 0, 0.5);
        padding: 0 0.25em 0 1em;
        margin: 0 0 1em 0;
        opacity: 0.625;
        color: inherit;
    }

    p {
        line-height: 1.5;
    }

    h1 {
        font-weight: 800;
        font-size: 4em;
        line-height: 1.25;
        margin-top: 0;
        margin-bottom: 0.325em;

        word-break: break-all;

        border-bottom: 5px solid var(--color-text);
        padding-bottom: 0.25em;
    }

    h2 {
        font-weight: 700;
        border-bottom: 2px solid var(--color-text);
        padding-bottom: 0.325em;
    }

    h3 {
        border-bottom: 1px dashed var(--color-text-dim);
        padding-bottom: 0.325em;
        font-weight: 500;
    }

    h2>em {
        display: inline-block;
        user-select: none;
        background-color: var(--color-text);
        color: var(--color-background);
        padding: 0.15em 0.325em;
        margin-right: 0.25em;
        font-weight: 600;
        font-style: normal !important;
    }

    /* if id starts with "def" */
    h2[id^="def"]>em,
    h2[id^="notation"]>em {
        font-weight: 700;
        background-color: var(--color-background);
        color: var(--color-text);
        border: 2px solid var(--color-text);
    }

    h2[id^="notation"]>em {
        border-style: dashed !important;
    }

    h3>em {
        display: inline-block;
        user-select: none;
        padding: 0.1em 0.5em;
        margin-right: 0.25em;
        font-weight: 600;
        border: 1px dashed var(--color-text-dim);
        font-style: normal !important;
    }

    .section-h1 {
        position: relative;
        display: block;
        margin-top: 8em;
        break-before: page;
    }

    .section-h1:first-child {
        margin-top: 0;
    }

    .section-h2 {
        break-inside: avoid;
        margin-top: 3em;
    }

    .section-h3 {
        break-inside: avoid;
        margin-top: 3em;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        break-before: auto;
    }

    details>p>br {
        display: none !important;
    }

    details>summary {
        color: var(--color-text);
        cursor: pointer;
    }

    details {
        margin-top: 2em !important;
        color: rgba(0, 0, 0, 0.5);
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 1em 0;
    }

    thead {
        border-bottom: 2px solid var(--color-text);
    }

    th {
        text-align: left;
        font-weight: 600;
    }

    td {
        border-bottom: 1px solid var(--color-text-dim);
    }

    th, td {
        padding: 0.5em 0.5em;
    }

    thead tr {
        background-color: transparent !important;
    }

    tr {
        &:nth-child(2n-1) {
            background-color: rgba(0, 0, 0, 0.0325);
        }
    }

    tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
}

nav {
    color: inherit;
}

li > ul {
    margin-top: 0.5em !important;
}

nav>ul {
    margin-top: 2em;
    padding-left: 1.25em !important;
}

nav>ul>li {
    margin-top: 2em !important;
    break-inside: avoid;
}

nav>ul>li>a {
    opacity: 1;
}

nav a {
    color: inherit;
    opacity: 0.625;
}

nav>ul>li {
    margin-top: 1em;
}

nav>ul>li>a {
    font-weight: 600;
}
