@media print {
    .katex {
        transform: scale(1.0);
        transform-origin: left baseline;
    }

    .section-h1 {
        margin-top: 0 !important;
    }

    .content {
        padding-top: 0 !important;
    }

    .content details {
        display: none !important;
    }

    #app {
        padding: 0 !important;
    }

    #app-sidebar {
        display: none !important;
    }

    #app-view {
        border-radius: 0 !important;
    }

    body {
        height: auto !important;
        overflow: auto !important;
    }
}
