body {
    line-height: 1.5;

    min-height: 100dvh;

    overflow: hidden;
    padding-bottom: env(safe-area-inset-bottom);
}

#app {
    display: flex;
    column-gap: var(--app-padding);
    width: 100%;
    min-height: 100dvh;

    padding: var(--app-padding);
    padding-left: 0;

    background-color: #000;
    color: #fff;

    font-family: "Inter", Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;

    contain: layout style paint;

    &-view {
        position: relative;
        background-color: var(--color-background);
        color: var(--color-text);
        flex: 1;
        width: 100%;
        height: 100dvh;
        border-radius: 10px;
        overflow: auto;
        padding-bottom: max(env(safe-area-inset-bottom), 1rem);

        scrollbar-color: var(--scrollbar-color-thumb) transparent;
        scrollbar-gutter: stable;
        scrollbar-width: auto;
        /* scroll-behavior: smooth; */

        transform: translateZ(0);

        contain: layout style paint;
    }

    &-sidebar {
        position: relative;
        width: 64px;
        padding-left: var(--app-padding);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

#app-action-theme {
    .icon-dark {
        display: block;
    }

    .icon-light {
        display: none;
    }
}

.app-sidebar {

    &-head,
    &-foot {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 8px;
        overflow: hidden;
        width: 48px;
        height: 48px;
        background-color: rgba(255, 255, 255, 0.15);
        border: 0.5px solid rgba(255, 255, 255, 0.05);
        color: #fff;
        text-decoration: none !important;
        padding: 12px;
        line-height: 0;

        &:hover {
            border: 0.5px solid rgba(255, 255, 255, 0.1);
            background-color: rgba(255, 255, 255, 0.25);
        }
    }

    &-emblem {
        border-radius: 8px;
    }
}

.app-emblem {
    border-radius: 8px;
    overflow: hidden;
}

/* #app-sidebar-thumb {
    position: absolute;
    top: 50%;
    right: calc(-1 * var(--sidebar-thumb-width) + -1 * var(--app-padding) / 2);
    width: var(--sidebar-thumb-width);
    height: var(--sidebar-thumb-height);
    background-color: var(--color-background);
    margin-top: calc(var(--sidebar-thumb-height) / -2);
    border-radius: 100px;
    cursor: pointer;
} */

/* #app-view::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: 5px;
}

#app-view::-webkit-scrollbar-track {
    background: var(--scrollbar-color-track);
    box-shadow: none;
}

#app-view::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color-thumb);
    background-clip: padding-box;
}

#app-view::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-color-thumb-hover);
    background-clip: padding-box;
} */

@media (max-width: 768px) {
    #app {
        padding: 0 !important;

        &-sidebar {
            display: none !important;

        }

        &-view {
            border-radius: 0 !important;

        }
    }

    /* #app {
        flex-direction: column !important;
        padding: 0 !important;
    }

    #app-sidebar {
        width: 100% !important;
        flex-direction: row !important;
        height: auto !important;
        padding: 1em 1.5em !important;
    }

    .app-sidebar-icon {
        width: 40px !important;
        height: 40px !important;
    }

    .app-sidebar-head, .app-sidebar-foot {
        flex-direction: row !important;
        gap: 8px !important;
    }

    #app-view {
        border-radius: 10px 10px 0 0 !important;
    } */
}

::selection {
    background-color: var(--color-text);
    color: var(--color-background);
}
