@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* START NORMALIZE */
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    /*
    background-color: #ffffe3;
    color: #10100e;
    */

    /*
    background-color: #10100e;
    color: #ffffe3 !important;
    */
}

svg {
    shape-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    backface-visibility: hidden;
    transform: translateZ(0);
    user-drag: none;
}

/* subpixel alignment fix for some elements */
/*  {
    transform: translateZ(0);
} */

img {
    display: block;
    max-width: 100%;

    /* Firefox, Safari */
    image-rendering: crisp-edges;
    /* Chrome */
    image-rendering: pixelated;

    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
}

* {
    border-collapse: inherit;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

svg {
    display: inline-block;
    fill: currentColor;
}

a,
button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:where(code,
    kbd,
    samp,
    pre) {
    font-size: 1em;
}

picture,
video,
canvas,
svg {
    max-width: 100%;
    display: block;
}

:where(article, aside, details, figcaption, figure, footer, header, main, menu, nav, section) {
    display: block;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.toc a {
    color: #ffffe3;
}

.toc a:visited {
    color: #ffffe3;
}

.content a {
    color: #0af;
}

.content a:visited {
    color: #0af;
}

html {
    margin: 0;
    padding: 0;
    padding-bottom: 4em;

    background-color: #10100e;
    color: #ffffe3 !important;
}

/* END NORMALIZE */

body {
    padding: 0 24px;
    margin: 0 auto;
    max-width: 912px;
    font-size: 16px;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}

blockquote {
    background-color: transparent;
    border-left: 2.5px solid #ffffe3;
    padding: 0 0.25em 0 1em;
    margin: 0 0 1em 0;
    opacity: 0.5;
    color: inherit;
}

h1 {
    font-size: 4em;
    line-height: 1.25;
    margin-top: 1.5em;
    margin-bottom: 0.25em;
}

h1:first-child {
    margin-top: 0.5em;
}

p {
    line-height: 1.5;
}

h2 {
    border-bottom: 2px solid #ffffe3;
    padding-bottom: 0.25em;
    margin-top: 1.5em;
}

h1 {
    break-before: page;
}

h2,
h3,
h4,
h5,
h6 {
    break-before: auto;
}

details>p>br {
    display: none !important;
}

details>summary {
    color: #ffffe3;
    cursor: pointer;
}

details {
    margin-top: 2em !important;
    color: rgba(255, 255, 227, 0.5);
}

nav {
    margin-top: 2em;
    color: inherit;
}

nav>ul>li>a {
    opacity: 1;
}

nav a {
    color: inherit;
    opacity: 0.5;
}

nav>ul>li {
    margin-top: 1em;
}

nav>ul>li>a {
    font-weight: 600;
}

::selection {
    background-color: #ffffe3;
    color: #10100e;
}

.katex,
.katex .katex-mathml,
.katex .katex-html {
    line-height: 1.5;
    vertical-align: baseline;
    /* prevents math from lifting or sinking */
}

.katex {
    display: inline;
}

.katex .katex-html {
    display: inline;
}

@media print {
    .katex {
        transform: scale(1.0);
        /* forces consistent rendering layer */
        transform-origin: left baseline;
    }

    html {
        background-color: #fff !important;
        color: #000 !important;
    }

    h1 {
        margin-top: 0.25em !important;
    }

    h2 {
        border-color: #000 !important;
    }

    .toc a {
        color: #000;
    }

    .toc a:visited {
        color: #000 !important;
    }

    details {
        color: rgba(0, 0, 0, 0.5) !important;
    }

    details>summary {
        color: #000 !important;
    }

    blockquote {
        border-color: rgba(0, 0, 0, 0.5) !important;
    }
}
