/* START NORMALIZE */
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    margin: 0;
    padding: 0;
}

svg {
    shape-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    backface-visibility: hidden;
    transform: translateZ(0);
    user-drag: none;
}

/* subpixel alignment fix for some elements */
/*  {
    transform: translateZ(0);
} */

img {
    display: block;
    max-width: 100%;

    /* Firefox, Safari */
    image-rendering: crisp-edges;
    /* Chrome */
    image-rendering: pixelated;

    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    user-select: none;
}

* {
    border-collapse: inherit;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

svg {
    display: inline-block;
    fill: currentColor;
}

a,
button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:where(code,
    kbd,
    samp,
    pre) {
    font-size: 1em;
}

picture,
video,
canvas,
svg {
    max-width: 100%;
    display: block;
}

:where(article, aside, details, figcaption, figure, footer, header, main, menu, nav, section) {
    display: block;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    transform: translateZ(0);
}
