/* body {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
} */

/* ::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: 5px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-color-track);
    box-shadow: none;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color-thumb);
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-color-thumb-hover);
    background-clip: padding-box;
} */
