---
import Document from "../layout/document.astro";
import { NOTE_RECORDS } from "../utils/notes";

const notes = NOTE_RECORDS;
---

<Document>
    <h1>Notes</h1>

    <div class="content">
    {
        notes.map((record) => (
            <section>
                <h2>{record.title}</h2>
                <ul>
                    {record.children.map((note) => (
                        <li>
                            <a href={`/${note.slug}`}>
                                <strong>{note.title}</strong>
                            </a>
                        </li>
                    ))}
                </ul>
            </section>
        ))
    }
    </div>

</Document>
