---
import { NOTE_RECORDS } from "../constants/notes";
import Document from "../layout/document.astro";
---

<Document>
    <main class="content">
        <h1>Notes</h1>

        {
            NOTE_RECORDS.map((record) => {
                const children = record.children.filter((note) => !note.hidden);

                if (children.length === 0) {
                    return null;
                }

                return (
                    <section>
                        <h2>{record.title}</h2>

                        <ul>
                            {children.map((note) => (
                                <li>
                                    <a href={`/${note.slug}`}>{note.title}</a>
                                </li>
                            ))}
                        </ul>
                    </section>
                );
            })
        }
    </main>
</Document>
