---
interface Props {}
---

<div class="emblem">
    <div class="s r">
        <div class="c"></div>
    </div><div class="s r">
        <div class="v"></div>
    </div><div class="s">
        <div class="h"></div>
    </div><div class="s x"></div><div class="s r t">
        <div class="h"></div>
    </div><div class="s t">
        <div class="v"></div>
    </div>
</div>
